<!-- Modal-Programación -->

    <div class="modal fade" id="programa" tabindex="-1" role="dialog" aria-labelledby="relatorModalLabel" aria-hidden="true">
      <div class="modal-dialog" style="width:800px; padding-top:0px; padding-bottom:0px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="relatorModalLabel" align="center">PROGRAMACIÓN</h4>
          </div>
          <div class="modal-body responsive" >
            
            <img  class="img-rounded" src="../assets/img/programa.jpg" width="100%">
            
          </div>
        </div><!--content-->
      </div><!--Dialog-->
    </div><!--Modal-Programación--->
	
    